.burger-menu {
	$iconXPadding: 15px;
	$iconYPadding: 15px;
	$listElementHeight: 60px;
	$iconLineWidth: 4px;
	$listLinkColor: black;
	$listPadding: 60px;
	$listFontSize: 28px;
	$easeInOutBack: cubic-bezier(.68, -.55, .265, 1.55);

	* {
		box-sizing: border-box;
		&:before, &:after {
			box-sizing: inherit;
		}
	}

	&,
	&__content {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
	}

	&__content {
		background: $menuBackgroundColor;
		transform: translateX(-100vw);
		margin-top: $headerSize;
		box-sizing: border-box;
		overflow: hidden;

		&--transitioning {
			transition: transform .2s ease-in-out;
			height: 100vh;
		}

		& > .burger-menu__listItem {
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				font-size: $listFontSize;
				line-height: ($listElementHeight/$listFontSize);
				font-family: $fontFamily;
			}

			// Overwrite font-awesome styling
			.fa-li {
				top: 0;
			}
		}

	}

	&--visible {
		.burger-menu {
			height: 100vh;

			&__content {
				height: 100vh;
				transform: translateX(0);
			}

			&__button {
				.burger-menu__burgerIcon {
					background: rgba(black, 0);
					&:before {
						transform: translate3d(0, #{$headerSize / 6}, 0) rotate(-135deg);
					}
					&:after {
						transform: translate3d(0, -#{$headerSize / 6}, 0) rotate(135deg);
					}
				}
			}
		}
	}

	&__button {
		display: block;
		width: $headerSize;
		height: $headerSize;
		position: absolute;
		right: 0;
		padding: $iconYPadding $iconXPadding;

		background: $burgerBackgroundColor;
		cursor: pointer;

		// hide content
		text-indent: -100%;
		overflow: hidden;
		z-index: 1;
	}

	&__burgerIcon {
		top: 50%;
		left: $iconXPadding;
		width: calc(100% - #{$iconXPadding * 2});
		margin-top: -#{$iconLineWidth - $iconLineWidth / 2};
		transition: background-color .15s linear;

		&,
		&:before,
		&:after {
			display: block;
			height: $iconLineWidth;
			position: absolute;
			background: rgba($burgerColor, 1);
			border-radius: $iconLineWidth;
		}

		&:before {
			content: '';
			width: 100%;
			top: -#{$headerSize / 6};
			transition: transform .4s $easeInOutBack;
		}

		&:after {
			content: '';
			width: 100%;
			top: #{$headerSize / 6};
			transition: transform .4s $easeInOutBack;
		}

		&--close {
			pointer-events: none;
			background: rgba($burgerColor, 0);
			&:before {
				transform: translate3d(0, #{$headerSize / 6}, 0) rotate(-135deg);
			}
			&:after {
				transform: translate3d(0, -#{$headerSize / 6}, 0) rotate(135deg);
			}
		}
	}

	&__listItem {
		padding-left: $listPadding;
		border-top: 1px solid $menuListItemBorder;
		width: 100%;
		height: auto;

		background: rgba($menuListItemBackground, 0);
		transition: background-color .3s linear, color .3s linear;

		a {
			color: $menuListItemColor;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: rgba($menuListItemColor, .2);
				position: absolute;
				top: #{$listElementHeight - 15px};
				opacity: 0;
				transform: translate3d(0, -10px, 0);
				transition: transform .1s linear, opacity .1s linear;
			}
			&:hover {
				&:after {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}

		&--active {
			background: rgba($menuListItemBackground, 1);

			.burger-menu__submenu {
				left: $listPadding;
			}

			& > a {
				color: $menuListItemColorActive;
			}
		}

		&:last-child {
			border-bottom: 1px solid $menuListItemBorder;
		}

		&--dropdown-visible {
			.burger-menu__dropdownTrigger {
				i {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__submenuTrigger {
		position: absolute;
		right: 0;
		width: $listElementHeight;
		height: $listElementHeight;
		background: $submenuTriggerBackground;
		color: $menuListItemColor;
		display: block;
		cursor: pointer;

		i {
			pointer-events: none;
			font-size: 20px;
			width: $listElementHeight;
			text-align: center;
			line-height: #{$listElementHeight/20px};
			margin-left: 2px;
		}

		&:hover {
			i {
				animation: .7s infinite alternate bounce;
			}
		}
	}

	&__submenu {
		background: $submenuBackground;
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: calc(100% - #{$listPadding});
		z-index: 1;
		transition: left .2s ease-in-out;

		.burger-menu__listItem {
			padding-left: 25px;
			position: relative;
		}
	}

	&__submenuTitle {
		text-transform: uppercase;
		font-weight: bold;
	}

	&__submenuClose {
		cursor: pointer;
		display: block;
		height: 50px;
		width: 50px;
		position: absolute;
		top: 5px;
		left: calc(100% - 55px);

		span {
			&:before,
			&:after {
				background: $menuListItemColor;
			}
		}
	}

	&__dropdownTrigger {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 10px;
		cursor: pointer;

		i {
			pointer-events: none;
		}
	}

	&__dropdown {
		position: relative;
		top: 0;
		height: 0;
		overflow: hidden;
		transition: height .2s ease-in-out;
		padding-left: 25px;
	}

}
